.btn{
    width: 350px;
    height: 80px;
    font-size: 18px;
    font-weight: 800;
    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    /* border: none; */
    border-radius: 40px 5px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #9300e8 0%, #4a00ed 100%);
    cursor: pointer;
}
