.contacts{
    position: relative;
    /* background: url("../images/content/Budda.jpg.png") no-repeat;
    background-size: cover; */
    /* clip-path:polygon(0% 0%, 0% 100%, 50% 100%, 100% 100%, 100% 0%, 50% 5.5%); */

}
.buddasection{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
}
