.socials{
    display:flex;
}
.socials__icon{
    width: 25px;
    height: 25px;
    &:hover{
        transition: 0.6s;
        fill:#5500f2;
    }
    
}
.socials__item{
    margin-right:40px;
    &:last-child{
        margin-right:0; 
    }
}